.App {
  text-align: center;
}

.avatar-placeholder {
  display: flex;
}

.center-content {
  width: 50%;
  margin: 0 auto;
  padding: 5vh;
}

.aside-user-infos{
  padding : 2vh;
  height: 60vh;
  box-shadow:2px 2px 2px grey;
  background-color: white;
}

.add-comment {
  border-radius: 10px;
  height: 10vh;
  width: 60%;
  background-color: indianred;
  margin: 2vh auto;
  display : flex;
  align-items: center;
  justify-content: center;
}

.display-comments {
  border-radius: 10px;
  height: 60vh;
  background-color: rgb(106, 106, 219);
  margin: 2vh;
  padding: 2vh;
  z-index: 1;
}
.display-ads{
  background-color: rgb(52, 52, 223);
  padding : 2vh;
}
.profile-page{
  padding-left: 25em;
}
.profile-aside {
  position: absolute;
  width: 20em;
  left: 0;
  z-index: 0;
}
.comment {
  background-color: rgb(49, 10, 49);
  height: 10vh;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-button {
  margin-bottom: 3vh;
}
