body {
    font-family: 'Quattrocento Sans', sans-serif;
}



.hero.is-large .hero-body {
    /* min-width: 769px; */
    padding-bottom: 5rem;
    padding-top: 8rem;
}

.tabs {
    padding-bottom: 5em;
    /* margin: 1px; */
}

.tabs li {
    background-color: #00d1b2;
    color: #dfe7ec;
    font-weight: bolder;
}

.hero.is-info {
    background-image: url('/blue-green-orange-and-red-rainbow-design-decoration-673648.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero.is-info .title,
.hero.is-info .subtitle {
    color: rgba(0, 0, 0, 0.705);
    text-shadow: white;
}

.subtitle {
font-size: 1em;
}

.hero-body > .container {
    backdrop-filter: brightness(110%) blur(10px) opacity(100%);
    border-radius: 10px;
    padding: 10px;
}

.hero.is-info .tabs.is-boxed ul li:first-child {
    margin-right: 30px;
    background-color: white;
}
.hero.is-info .tabs.is-boxed ul li:first-child:hover {
    opacity: 0.8;
}

.hero.is-info .tabs.is-boxed ul li:first-child a,
.hero.is-info .tabs.is-boxed ul li:first-child a:hover {
    color: #00d1b2;
}

.tile.is-ancestor {
    padding: 25px 15px;
}

section.hero {
    margin: 1%;
}

section.hero.is-primary.is-light.all-annonces {
    background-color: whitesmoke;
}

section.hero.is-primary.is-light.all-annonces .title {
    color: darkslategrey;
    margin-bottom: 0;
}

.title-and-img {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
    align-items: center;
}

.img-services {
    align-items: center;
    width: 25%;
    margin-top: -7px;
    margin-bottom: 0;
}