.App {
  text-align: center;
}

.avatar-placeholder {
  display: flex;
}

.center-content {
  width: 50%;
  margin: 0 auto;
  padding: 5vh;
}

.aside-user-infos{
  padding : 2vh;
  height: 60vh;
  box-shadow:2px 2px 2px rgba(128, 128, 128, 0.445);
  background-color: white;
}

.add-comment {
  border-radius: 10px;
  height: 10vh;
  width: 60%;
  background-color: indianred;
  margin: 2vh auto;
  display : flex;
  align-items: center;
  justify-content: center;
}

.display-comments {
  border-radius: 10px;
  height: 60vh;
  background-color: rgb(106, 106, 219);
  margin: 2vh;
  padding: 2vh;
  z-index: 1;
}
.display-ads{
  background-color: rgb(52, 52, 223);
  padding : 2vh;
}
.profile-page{
  padding-left: 25em;
}
.profile-aside {
  position: absolute;
  width: 20em;
  left: 0;
  z-index: 0;
}
.comment {
  background-color: rgb(49, 10, 49);
  height: 10vh;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-button {
  margin-bottom: 3vh;
}

.panel {
  width: 50vh;
  padding: 2vh;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.withfilters {
  /* background-color: violet; */
  padding-left: 55vh;
}
.nofilter {
  /* background-color: violet; */
}
.conversation-page{
  display: flex;
}
.post-message-container{
  padding: 2em;
  height: 15vh;
  background-color: rgba(128, 128, 128, 0.479);
  margin: 0 auto;

}
.message-form{
  display: flex;
  align-items: center;
}

.msg-btn{
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1em
}
.msg{
  margin: 1vh
}
.me {
float: right;
clear: both;
color: turquoise;
text-align: right;
}
.you {
float: left;
color: tomato;
clear: both;
}
.messages-container{
  box-sizing: border-box;
  height: 70vh;
  overflow: scroll;
  margin: 1vh;
}
.conversation-placeholder{
  width: 60%;
  height: 90vh;
  background-color: rgba(228, 224, 224, 0.055)
}
.mes-conv-placeholder {
  padding-top: 4vh;
  width: 40%;
}

.one-conv{
  background-color: white;
}

.mes-messages-placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mes-messages-placeholder .title {
  margin-top: 1.5em;
}